
  <div class="row mt-3 justify-content-center gap-4">
    <div class="col-4">
      <button class="card stylingCard" (click)="toCreateProduct()">
        <div class="card-body stylingCardBody">
          <p class="card-text fs-2">Create Product</p>
        </div>
      </button>
    </div>
    <div class="col-4">
      <button class="card stylingCard" (click)="toCheckProducts()">
        <div class="card-body stylingCardBody">
          <p class="card-text fs-2">Check Products</p>
        </div>
      </button>
    </div>
  </div>
  <div class="row mt-3 justify-content-center gap-4">
    <div class="col-4">
      <button class="card stylingCard" (click)="toCreateOrder()">
        <div class="card-body stylingCardBody">
          <p class="card-text fs-2">Create Order</p>
        </div>
      </button>
    </div>
    <div class="col-4">
      <button class="card stylingCard" (click)="toCheckOrders()">
        <div class="card-body stylingCardBody">
          <p class="card-text fs-2">Check Orders</p>
        </div>
      </button>
    </div>
  </div>
