@use '../../../variables.scss' as myVar;

.stylingCard {
  background-color: myVar.$myPaletteAzul;
  color: myVar.$myPaletteWhite;
  width: 20rem;
  height: 20rem;
  transition:  background-color 200ms ease-in-out, color 200ms ease-in-out;
  
  &:hover{
    background-color: myVar.$myPaletteBlue;
    
  }
  &:active{
    color: myVar.$myPaletteGrey;
    background-color: myVar.$myPaletteDarkBlue;
  }

}

.stylingCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
}