.stylingCard {
  background-color: #034078;
  color: #FEFCFB;
  width: 20rem;
  height: 20rem;
  transition:  background-color 200ms ease-in-out, color 200ms ease-in-out;
  
  &:hover{
    background-color: #001F54;
    
  }
  &:active{
    color: #9bb9ff;
    background-color: #0A1128;
  }

}

.stylingCardBody {
  display: flex;
  justify-content: center;
  align-items: center;
}