
//theme colors
$myPaletteWhite: #FEFCFB;
$myPaletteBlueGreen: #1282A2;
$myPaletteAzul: #034078;
$myPaletteBlue: #001F54;
$myPaletteDarkBlue: #0A1128;
$myPaletteGrey: #9bb9ff;

/*

| Tipo messaggio | Background | Text      | Border    |
| -------------- | ---------- | --------- | --------- |
| Info           | `#D1ECF1`  | `#034078` | `#1282A2` |
| Successo       | `#D4EDDA`  | `#0A1128` | `#28A745` |
| Avviso         | `#FFF3CD`  | `#856404` | `#FFB800` |
| Errore         | `#F8D7DA`  | `#721C24` | `#DC3545` |
| Neutro         | `#F0F4F8`  | `#001F54` | `#CCCCCC` |

*/

//theme message colors
//BG
$myPaletteInfoBG: #D1ECF1;
$myPaletteSuccessBG: #D4EDDA;
$myPaletteWarningBG: #FFF3CD;
$myPaletteErrorBG: #F8D7DA; 
$myPaletteNeutralBG: #F0F4F8;

//TEXT
$myPaletteInfoTXT: #034078;
$myPaletteSuccessTXT: #0A290F;
$myPaletteWarningTXT: #856404;
$myPaletteErrorTXT: #721C24;
$myPaletteNeutralTXT: #001F54;

//BORDER
$myPaletteInfoBORDER: #1282A2;
$myPaletteSuccessBORDER: #28A745;
$myPaletteWarningBORDER: #FFB800;
$myPaletteErrorBORDER: #DC3545;
$myPaletteNeutralBORDER: #CCCCCC;






